@page "/"
@inherits MediaService
<link href="css/site.css" rel="stylesheet"/>

<div id="mediaMain">
    <div id="videoDiv">
        <video controls="controls" 
               src="@mediaUrl" 
               autoplay="autoplay"></video>
    </div>
    <div id="tableDiv">
        <table class="hoverTable">
            <tbody>
                @foreach (string media in GetMediaList()) {
                    <tr @onclick="@(()=>SelectMedia(media))">
                        <td>
                            <video width="120" 
                                   height="80" 
                                   src="@GetUrlByName(media)" 
                                   onmouseover="this.play()" 
                                   onmouseout="this.pause(); this.currentTime=0"></video>
                        </td>
                        <td align="center">
                            @media
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
